Source: smp-utils
Section: admin
Priority: optional
Maintainer: Douglas Gilbert <dgilbert@interlog.com>
Build-Depends: debhelper (>= 10), libtool, autoconf, libcam-dev [kfreebsd-i386 kfreebsd-amd64]
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: http://sg.danny.cz/sg/smp_utils.html

Package: smp-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SAS management utilities for SAS/SATA disk arrays.
 Utilities that send Serial Attached SCSI (SAS) Serial Management
 Protocol (SMP) requests to a SMP target (e.g. a SAS expander). If
 the request fails then the error is decoded. If the request succeeds
 then the response is either decoded, printed out in hexadecimal or
 output in binary.

Package: libsmputils1-1
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Multi-Arch: same
Conflicts: libsmputils1
Replaces: libsmputils1
Suggests: smp-utils
Description: Shared library used by most of the utilities in the smp-utils
 package.

Package: libsmputils1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsmputils1-1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${kfreebsd:Depends}
Conflicts: libsmputils1-dev
Suggests: smp-utils
Description: utilities for SAS SMP control of expanders (developer files)
 Developer files (i.e. headers and a static library) which are associated with
 the utilities in the smp-utils package.

